In [1]:
import requests
import pandas as pd

countries = ["ATG","ARG", "COL", "BRB"]
indicators = ["3126"]
start_year = "1990"
end_year = "2022"
data = []

base_url = "https://api-cepalstat.cepal.org/cepalstat/api/v1/indicator/"

for country_code in countries:
    for indicator in indicators:
        url = f"{base_url}/{indicator}/data?filter=Country eq '{country_code}' and Year ge {start_year} and Year le {end_year}"

        response = requests.get(url)

        if response.status_code == 200:
            result = response.json()
            if 'body' in result and 'data' in result['body']:
                for entry in result['body']['data']:
                    value = entry.get('value')
                    country = entry.get('iso3')
                    year = entry.get('Year')  
                    indicator_name = result['body']['metadata']['indicator_name']
                    data.append({"País": country, "Año": year, "Indicador": indicator_name, "Valor": value})

data_df = pd.DataFrame(data)
data_df

,País,Año,Indicador,Valor
0,ARG,None,Public social expenditure according to the cla...,22
1,ARG,None,Public social expenditure according to the cla...,38.4
2,ARG,None,Public social expenditure according to the cla...,40.3
3,ARG,None,Public social expenditure according to the cla...,40.60110701
4,ARG,None,Public social expenditure according to the cla...,44.6
...,...,...,...,...
21247,DOM,None,Public social expenditure according to the cla...,165628.552
21248,DOM,None,Public social expenditure according to the cla...,184375.042
21249,DOM,None,Public social expenditure according to the cla...,308147.7878
21250,DOM,None,Public social expenditure according to the cla...,315009.2302
21251,DOM,None,Public social expenditure according to the cla...,356354.4804

In [1]:
import requests
import pandas as pd
import re

countries = ["ATG","ARG","BHS","BRB","BLZ","BOL","BRA","CAN","CHL","COL","CRI","CUB","DOM","ECU","GRD","GTM",
             "GUY","HTI","HND","JAM","SLV","USA","MEX","NIC","PAN","PRY","PER","DOM","KNA","LCA","VCT","SUR",
             "TTO","URY","VEN"]
indicators = ["3126"]
start_year = "1990"
end_year = "2022"
data = []

base_url = "https://api-cepalstat.cepal.org/cepalstat/api/v1/indicator"

for country_code in countries:
    for indicator in indicators:
        url = f"{base_url}/{indicator}/data?filter=Country eq '{country_code}' and Year ge {start_year} and Year le {end_year}"

        response = requests.get(url)

        if response.status_code == 200:
            result = response.json()
            if 'body' in result and 'data' in result['body']:
                # Extraer el año del filtro en la URL
                year_match = re.search(r'(\d{4})', url)
                if year_match:
                    start_year = int(year_match.group(1))
                    end_year = start_year

                for entry in result['body']['data']:
                    value = entry.get('value')
                    country = entry.get('iso3')
                    indicator_name = result['body']['metadata']['indicator_name']
                    data.append({"País": country, "Año": start_year, "Indicador": indicator_name, "Valor": value})

data_df = pd.DataFrame(data)
data_df

,País,Año,Indicador,Valor
0,ARG,3126,Public social expenditure according to the cla...,22
1,ARG,3126,Public social expenditure according to the cla...,38.4
2,ARG,3126,Public social expenditure according to the cla...,40.3
3,ARG,3126,Public social expenditure according to the cla...,40.60110701
4,ARG,3126,Public social expenditure according to the cla...,44.6
...,...,...,...,...
185950,DOM,3126,Public social expenditure according to the cla...,165628.552
185951,DOM,3126,Public social expenditure according to the cla...,184375.042
185952,DOM,3126,Public social expenditure according to the cla...,308147.7878
185953,DOM,3126,Public social expenditure according to the cla...,315009.2302
185954,DOM,3126,Public social expenditure according to the cla...,356354.4804