* Indicador: Necesidades promedio de energía alimentaria kilocalorias
* ID para extracción: 5223
* Fuente : https://statistics.cepal.org/portal/cepalstat/index.html?lang=es
* URL API: https://statistics.cepal.org/portal/cepalstat/open-data.html?lang=es

In [1]:
import pandas as pd
import numpy as np

In [2]:
# Fuente externa - United Nations Statistics Division (UNSD),
df_alimentaria= pd.read_excel("./Energia_alimentaria - CEPAL.xlsx")
df_alimentaria.head()

,Necesidades promedio de energía alimentaria kilocalorias,País__ESTANDAR,Años__ESTANDAR,notes_ids,source_id
0,2363,Antigua y Barbuda,2000,NaN,58
1,2388,Argentina,2000,NaN,58
2,2406,Bahamas,2000,NaN,58
3,2442,Barbados,2000,NaN,58
4,2186,Belice,2000,NaN,58

In [3]:
# Elimino las columnas no necesarias
df_alimentaria = df_alimentaria.drop("notes_ids", axis=1) 
df_alimentaria = df_alimentaria.drop("source_id", axis=1) 
df_alimentaria.head()

,Necesidades promedio de energía alimentaria kilocalorias,País__ESTANDAR,Años__ESTANDAR
0,2363,Antigua y Barbuda,2000
1,2388,Argentina,2000
2,2406,Bahamas,2000
3,2442,Barbados,2000
4,2186,Belice,2000

In [4]:
orden_columnas = ['País__ESTANDAR', "Años__ESTANDAR",'Necesidades promedio de energía alimentaria kilocalorias']
df_alimentaria = df_alimentaria[orden_columnas]  
df_alimentaria

,País__ESTANDAR,Años__ESTANDAR,Necesidades promedio de energía alimentaria kilocalorias
0,Antigua y Barbuda,2000,2363
1,Argentina,2000,2388
2,Bahamas,2000,2406
3,Barbados,2000,2442
4,Belice,2000,2186
...,...,...,...
800,Uruguay,2022,2437
801,Venezuela (República Bolivariana de),2022,2346
802,América Latina y el Caribe,2022,2399
803,América Central,2022,2369
804,El Caribe,2022,2415

In [5]:
# Cambio nombres de algunas columnas en el df, para que coincida con el df de WB.
df_alimentaria.rename(columns={"País__ESTANDAR": "Country"}, inplace=True)
df_alimentaria.rename(columns={"Años__ESTANDAR": "Year"}, inplace=True)
df_alimentaria

,Country,Year,Necesidades promedio de energía alimentaria kilocalorias
0,Antigua y Barbuda,2000,2363
1,Argentina,2000,2388
2,Bahamas,2000,2406
3,Barbados,2000,2442
4,Belice,2000,2186
...,...,...,...
800,Uruguay,2022,2437
801,Venezuela (República Bolivariana de),2022,2346
802,América Latina y el Caribe,2022,2399
803,América Central,2022,2369
804,El Caribe,2022,2415

In [6]:
df_alimentaria.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 805 entries, 0 to 804
Data columns (total 3 columns):
 #   Column                                                    Non-Null Count  Dtype
---  ------                                                    --------------  -----
 0   Country                                                   805 non-null    object
 1   Year                                                      805 non-null    int64
 2   Necesidades promedio de energía alimentaria kilocalorias  805 non-null    int64
dtypes: int64(2), object(1)
memory usage: 19.0+ KB

In [7]:
df_alimentaria.describe()

              Year  Necesidades promedio de energía alimentaria kilocalorias
count   805.000000                                         805.000000
mean   2011.000000                                        2358.468323
std       6.637373                                          89.836865
min    2000.000000                                        2071.000000
25%    2005.000000                                        2293.000000
50%    2011.000000                                        2377.000000
75%    2017.000000                                        2435.000000
max    2022.000000                                        2517.000000

In [8]:
df_alimentaria.to_csv('energia_alimentaria.csv', index=False)